.hero{
    background-image: url(../../assets/svg/hero-bg-img.svg);
    background-repeat: no-repeat;
    background-position: bottom;
    z-index: -1;
}


.main-btn {
    border-radius: 36px;
    background: var(--Primary-500, #22C55E);
    box-shadow: 0px 1px 2px 0px rgba(105, 81, 255, 0.05);
    color: var(--White-900, #FFF);
    font-family: Poppins;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: 18px;
    padding: 2px 8px;
    border: transparent;
    margin-bottom: 24px;
    margin-top: 77px;
}

.hero-box {

    h2 {
        color: var(--White-900, #FFF);
        text-align: center;
        width: 847px;
        font-family: Poppins;
        font-size: 60px;
        font-style: normal;
        font-weight: 700;
        line-height: 72px;
        letter-spacing: -1.2px;
        margin-bottom: 24px;
        margin: 0 auto;
    }

    p {
        color: var(--Gray-400, #8896AB);
        width: 715px;
        font-family: Poppins;
        font-size: 20px;
        font-style: normal;
        font-weight: 500;
        line-height: 30px;
        margin: 0 auto;
        text-align: center;
        margin-bottom: 32px;
        margin-top: 24px;
    }
}

.hero-btn-1 {
    border-radius: 6px;
    background: var(--Primary-500, #22C55E);
    box-shadow: 0px 1px 2px 0px rgba(105, 81, 255, 0.05);
    color: var(--Primary-050, #F0FDF4);
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 28px;
    width: 206px;
    height: 56px;
    border: transparent;
    margin-bottom: 278px;
}

.hero-btn-2 {
    border-radius: 6px;
    background: var(--Gray-700, #404F65);
    box-shadow: 0px 1px 2px 0px rgba(105, 81, 255, 0.05);
    color: var(--Gray-100, #EEF0F3);
    font-size: 18px;
    font-style: normal;
    padding: 16px 28px;
    font-weight: 500;
    line-height: 28px;
    border: transparent;
    margin-bottom: 278px;
}

.card__inner-img{
    margin-bottom: 208px;
}
