.logos-text {
    color: var(--Gray-300, #BBC3CF);
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    margin-bottom: 30px;
    margin-left: 400px;
}

.logos-qwerty {
    display: flex;
    align-items: center;
    text-align: center;
    gap: 0 32px;
}

.img-1 {
    padding: 49px 38px 49px 39px;
    width: 261px;
    height: 146px;
    flex-shrink: 0;
    border-radius: 6px;
    background: var(--Gray-050, #F7F8F9);
    box-shadow: 0px 1px 2px 0px rgba(85, 105, 135, 0.10);
}

.img-2 {
    padding: 49px 38px 49px 39px;

    width: 261px;
    height: 146px;
    flex-shrink: 0;
    border-radius: 6px;
    background: var(--Gray-050, #F7F8F9);
    box-shadow: 0px 1px 2px 0px rgba(85, 105, 135, 0.10);
}

.img-3 {
    padding: 49px 38px 49px 39px;
    width: 261px;
    height: 146px;
    flex-shrink: 0;
    border-radius: 6px;
    background: var(--Gray-050, #F7F8F9);
    box-shadow: 0px 1px 2px 0px rgba(85, 105, 135, 0.10);
}

.img-4 {
    padding: 49px 38px 49px 39px;

    width: 261px;
    height: 146px;
    flex-shrink: 0;
    border-radius: 6px;
    background: var(--Gray-050, #F7F8F9);
    box-shadow: 0px 1px 2px 0px rgba(85, 105, 135, 0.10);
}

.logos{
    margin-bottom: 100px;
}