.power-btn {
    color: var(--Primary-500, #22C55E);
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: 18px;
    border-radius: 36px;
    background: var(--Primary-100, #DCFCE7);
    box-shadow: 0px 1px 2px 0px rgba(105, 81, 255, 0.05);
    padding: 2px 8px;
    margin-bottom: 16px;
}

.power-title {
    color: var(--Gray-900, #2A3342);
    width: 771px;
    font-family: Poppins;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: 60px;
    letter-spacing: -0.96px;
    margin-bottom: 16px;
}

.power-text {
    color: var(--Gray-500, #556987);
    width: 749px;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 30px;
    margin-bottom: 50px;
}

.texts-number {
    color: var(--Gray-900, #2A3342);
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: 60px;
    letter-spacing: -0.96px;
    margin-bottom: 16px;
}

.texts-title {
    color: var(--Gray-800, #333F51);
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 30px;
    margin-bottom: 8px;
}

.texts-text {
    color: var(--Gray-500, #556987);
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    width: 240px;
}

.texts-wrapper{
    display: flex;
    align-items: center;
    margin-bottom: 40px;
}

.texts{
  margin-right: 32px;
}
.power-text-2 {
    color: var(--Gray-500, #556987);
    width: 749px;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 30px;
    margin-bottom: 50px;
}

.texts-number-2 {
    color: var(--Gray-900, #2A3342);
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: 60px;
    letter-spacing: -0.96px;
    margin-bottom: 16px;
}

.texts-title-2 {
    color: var(--Gray-800, #333F51);
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 30px;
    margin-bottom: 8px;
}

.texts-text-2 {
    color: var(--Gray-500, #556987);
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    width: 240px;
}